<?xml version="1.0"?>
<config>
    <modules>
        <TTS_Brands>
            <version>1.2.0</version>
        </TTS_Brands>
    </modules>
    <frontend>
        <routers>
            <brands>
                <use>standard</use>
                <args>
                    <module>TTS_Brands</module>
                    <frontName>brands</frontName>
                </args>
            </brands>
        </routers>
        <layout>
            <updates>
                <brands>
                    <file>brands.xml</file>
                </brands>
            </updates>
        </layout>
        <translate>
            <modules>
                <TTS_Brands>
                    <files>
                        <default>TTS_Brands.csv</default>
                    </files>
                </TTS_Brands>
            </modules>
        </translate>
        <cache>
            <requests>
                <brands>
                    <view>
                        enterprise_pagecache/processor_category
                    </view>
                </brands>
            </requests>
        </cache>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <TTS_Brands before="Mage_Adminhtml">TTS_Brands_Adminhtml</TTS_Brands>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <brands>
                    <file>brands.xml</file>
                </brands>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <brands>
                <class>TTS_Brands_Model</class>
                <resourceModel>brands_resource</resourceModel>
            </brands>
            <brands_resource>
                <class>TTS_Brands_Model_Resource</class>
                <entities>
                    <brands>
                        <table>tts_brands</table>
                    </brands>
                </entities>
            </brands_resource>
        </models>
        <resources>
            <brands_setup>
                <setup>
                    <module>TTS_Brands</module>
					<class>TTS_Brands_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </brands_setup>
            <brands_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </brands_write>
            <brands_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </brands_read>
        </resources>
        <blocks>
            <brands>
                <class>TTS_Brands_Block</class>
            </brands>
        </blocks>
        <helpers>
            <brands>
                <class>TTS_Brands_Helper</class>
            </brands>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <brands>
                        <class>TTS_Brands_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </brands>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <default>
        <brands>
            <settings>
                <route>brands</route>
            </settings>
        </brands>
    </default>
</config>