<?xml version="1.0"?>
<config>
    <modules>
        <TTS_All>
            <version>1.0.1</version>
        </TTS_All>
    </modules>
    <global>
        <blocks>
            <ttsall>
                <class>TTS_All_Block</class>
            </ttsall>
        </blocks>
        <helpers>
            <ttsall>
                <class>TTS_All_Helper</class>
            </ttsall>
        </helpers>
        <models>
            <ttsall>
                <class>TTS_All_Model</class>
            </ttsall>
        </models>        
        <resources>
            <ttsall_setup>
                <setup>
                    <module>TTS_All</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ttsall_setup>
            <ttsall_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ttsall_write>
            <ttsall_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ttsall_read>
        </resources>        
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ttsall>
                                            <title>Gento Tech</title>
                                        </ttsall>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <controller_action_predispatch>
                <observers>
                    <ambase_upds>
                        <type>singleton</type>
                        <class>ttsall/feed</class>
                        <method>check</method>
                    </ambase_upds>
                </observers>
            </controller_action_predispatch>
        </events> 
    </adminhtml>    
</config>