<?xml version="1.0"?>
<config>
    <modules>
        <Gento_ReturnStoreCredit>
            <version>0.1.0</version>
        </Gento_ReturnStoreCredit>
    </modules>
    <global>
        <models>
            <gento_returnstorecredit>
                <class>Gento_ReturnStoreCredit_Model</class>
                <resourceModel>gento_returnstorecredit_resource</resourceModel>
            </gento_returnstorecredit>
            <gento_returnstorecredit_resource>
                <class>Gento_ReturnStoreCredit_Model_Resource</class>
            </gento_returnstorecredit_resource>
        </models>
        <blocks>
            <gento_returnstorecredit>
                <class>Gento_ReturnStoreCredit_Block</class>
            </gento_returnstorecredit>
        </blocks>
        <helpers>
            <gento_returnstorecredit>
                <class>Gento_ReturnStoreCredit_Helper</class>
            </gento_returnstorecredit>
        </helpers>
        <events>
            <sales_order_payment_cancel>
                <observers>
                    <gento_returnstorecredit>
                        <type>singleton</type>
                        <class>Gento_ReturnStoreCredit_Model_Observer</class>
                        <method>RefundStoreCredit</method>
                    </gento_returnstorecredit>
                </observers>
            </sales_order_payment_cancel>
        </events>
    </global>
</config>