<?xml version="1.0"?>
<config>
    <modules>
        <Gento_SortBy>
            <version>0.1.0</version>
        </Gento_SortBy>
    </modules>
    <global>
        <blocks>
            <sortby>
                <class>Gento_SortBy_Block</class>
            </sortby>
            <!--<catalog>
                <rewrite>
                    <product_list_toolbar>Gento_SortBy_Block_Product_List_Toolbar</product_list_toolbar>
                </rewrite>
            </catalog>-->
        </blocks>
        <models>
            <!--<catalog>
                <rewrite>
                    <config>Gento_SortBy_Model_Catalog_Config</config>
                </rewrite>
            </catalog>-->
        </models>
        <resources>
            <sortby_setup>
                <setup>
                    <module>Gento_SortBy</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sortby_setup>
        </resources>
    </global>
</config>